{% extends 'bigcommerce/channels/_layout.twig' %}
{% set title = 'Channels - Site Routes'|t('bigcommerce') %}

{% import '_includes/forms.twig' as forms %}
{% set selectedTab = 'routes' %}
{% block content %}
    <div class="pane">
        <h2>Route Setup</h2>
        <a href="#" class="btn small secondary">Configure Special Routes</a>
    </div>
{% endblock %}
