{% extends "_layouts/elementindex" %}
{% set title = "BigCommerce Products"|t('bigcommerce') %}
{% set elementType = 'venveo\\bigcommerce\\elements\\Product' %}
{% set canHaveDrafts = true %}

{% block toolbar %}
    {{ parent() }}

    {% if newProductUrl %}
        <a data-icon="external" class="btn submit" href="{{ newProductUrl }}"
           target="_blank">{{ 'New Product'|t('bigcommerce') }}</a>
    {% endif %}
{% endblock %}